*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}

.header{
    min-height: 100vh;
    width:100%;
    background-position: center;
    background-size:cover;
    position:relative;
    

}
#logo{
    max-width: 200px;
    max-height: 200px;
}
nav{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    place-items: center;
    background-color: rgba(48, 13, 13, 0.253);
}
nav ul{
    list-style-type: none;
}
nav ul a{
    display: inline-block;
    padding: 20px;
    color: #fff;
    font-size: 23px;
    place-items: center;
    text-decoration: none;
}
nav ul a:hover{
    background-color: whitesmoke;
    color: black;
    border: bottom 1rem;;
}

.header .icons {
    color:#fff;
    cursor: pointer;
    font-size: 2rem;
}
#search{float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    }

#cart-icon{
    margin-right: 30px;
}
#menu-icon{
    width:28px;
    margin-left: 20px;
}
@media only screen and (max-width:800px){
    ul{
        position:absolute;
        top:70px;
        left:0px;
        background: #333;
        width: 100px;
    }
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 25%;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
.item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .item button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .item button:hover {
    opacity: 0.7;
  }